@using Illium_Forum.Models
@model Illium_Forum.Models.SubjectViewModel
@{
    ViewBag.Title = Model.subject.Name;
}


<div class="container">
    <div class="board-banner no-banner">

        <div class="board-name">
            @Model.subject.Name
        </div>
        <div class="empty"></div>
    </div>

    @if (Request.IsAuthenticated)
    {
        <a class="insert-thread" data-toggle="collapse" href="#insert-thread-form">

            <p>< Создать тред ></p>
        </a>


        Html.RenderPartial("~/Views/Thread/InsertThread.cshtml", new InsertThreadViewModel { subId = Model.subject.SubId });
    }
    <div class="thread-container">
        @foreach (var thread in Model.threads)
        {
            Html.RenderAction("Thread", "Subject", thread);
        }
    </div>
</div>




