@model Domain.Content.Thread

<div class="thread">
    <div class="thread-wrapper">
        <div class="thread-info-bar row-fluid">
            <div class="left-side-info">
                <div class="thread-number">№1234</div>
                <div class="">
                    <a>
                        <span class="glyphicon glyphicon-user"></span>
                        @ViewData["Username"]
                    </a>
                </div>
                <div class="">
                    <time class="timeago" datetime="@Model.Date"></time>
                </div>
            </div>
            <div class="right-side-info">
                <div class="thread-post-count">
                    <a>
                        @ViewData["Postcount"]
                        <span class="glyphicon glyphicon-comment"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="thread-main-bar row-fluid">
            <div class="unvoted-block">
                <a class="glyphicon glyphicon-menu-up"></a>
                <div class="votecount">2.2k</div>
                <a class="glyphicon glyphicon-menu-down"></a>
            </div>
            <img class="thread-picture" src="../Content/Static/board-banner.jpg" alt="" />
            <div class="thread-text">
                <p class="thread-caption">@Model.Text</p>

            </div>
        </div>
    </div>
</div>