@model IEnumerable<Domain.Content.Poco.Subject>
@{
    Layout = null;
}


<ul class="sublist">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <li><a href="@Url.Action("Index", "Subject", new { subName = item.Code })">@item.Name</a></li>
        }
    }

</ul>