@model Domain.Content.Subject

@{
    ViewBag.Title = Model.Name;
}


<div class="container">
    <div class="board-banner no-banner">
        <div class="board-name">@Model.Name</div>
    </div>
    <div class="thread-container">
        @foreach (var t in Model.Threads)
        {
            Html.RenderAction("Thread", "Content", new { thread = t });
        }

    </div>
</div>
