
.container {
    max-width: 1050px;
}



.thread-container {
    padding-top: 5px;
}

.thread {
    margin-bottom: 2px;
    background: #24262d;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
}

.thread-wrapper {
    padding-top: 2px;
    padding-bottom: 4px;
}

.thread-info-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
 
    margin-bottom: 4px;
}

.left-side-info {
    color: #aaabbb;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.right-side-info {
    display: flex;
    justify-content: flex-end;
}

.left-side-info > div {
    padding-right: 10px;
}

.right-side-info > div {
    padding-right: 10px;
}

.thread-info-bar a {
    color: #9a64bd;
}

.thread-main-bar {
    display: flex;
    align-content: flex-start;
    min-height: 105px;
}

.unvoted-block {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 55px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

    .unvoted-block a {
        font-size: 22px;
    }

.votecount {
    font-size: 15px;
}

.thread-picture {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.thread-text {
    margin: -3px 0;
    padding: 0 10px 0 0;
    align-items: flex-start;
    flex: 1;
}

.thread-caption {
    margin: 0;
    display: inline-block;
   
}

second-info {
    height: 25%;
    overflow: hidden;
    margin-bottom: 0;
    padding-left: 0;
}

    .thread-second-info li {
        padding-right: 10px;
        display: inline-block;
        color: #9a64bd;
        list-style-type: none;
    }

.thread-more {
    color: #9a64bd;
}