
.container {
    max-width: 1050px;
}



.thread-container {
    padding-top: 15px;
}

.post-container {
    padding-top: 15px;
}

.thread {
    background: #24262d;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 12px;
}


.thread-wrapper {
    padding-top: 2px;
    padding-bottom: 4px;
}

.thread-info-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
    border-bottom: 2px solid #1c1f26;
    margin-bottom: 4px;
}

.thread-header-text {
    font-family: 'Open Sans';
    font-weight: bold;
    padding-right: 15px;
}

.thread-header-bar {
    display: flex;
    overflow: hidden;
    padding-bottom: 2px;
    border-bottom: 2px solid #1c1f26;
    margin-bottom: 4px;
}

.left-side-info {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    /*display: grid;
    grid-template-columns: 35px 120px 150px;*/
}

.right-side-info {
    display: flex;
    justify-content: flex-end;
}

.left-side-info > div {
    padding-right: 10px;
}

.right-side-info > div {
    padding-right: 10px;
}

.thread-info-bar a {
    color: #9a64bd;
}

.thread-main-bar {
    display: flex;
    align-content: flex-start;
}

.unvoted-block {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 55px;
    align-items: center;
    padding-top: 15px;
}

    .unvoted-block a {
        font-size: 22px;
    }

.votecount {
    font-size: 15px;
}

.thread-picture {
    max-width: 100px;
    max-height: 100px;
}

.thread-text {
    padding: 10px 5px 10px 10px;
    align-items: flex-start;
    flex: 1;
}

.thread-caption {
    margin: 0;
    display: inline-block;
    overflow: hidden;
    white-space: pre-wrap;
}

.thread-second-info {
    height: 25%;
    overflow: hidden;
    margin-bottom: 0;
    padding-left: 0;
}

    .thread-second-info li {
        padding-right: 10px;
        display: inline-block;
        color: #9a64bd;
        list-style-type: none;
    }

.insert-post-wrapper {
    font-family: 'Roboto', serif;
    font-weight: 200;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.insert-post {
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .insert-post p {
        font-family: 'Roboto', serif;
        font-weight: 200;
        font-size: 15px;
        padding-left: 5px;
        margin: 0;
    }

.inside-thread {
    padding-top: 20px;
}
