@{
    ViewBag.Title = "Illium Forum";
}

<div class="container">
    <div class="board-banner no-banner">
        <div class="board-name">Добро пожаловать на Иллиум!</div>
    </div>
    <div class="empty"></div>
</div>